{% extends 'base.html' %}
{% load humanize %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    
    <script>
      function printInvoice() {
        window.print();
      }
    </script>

    <a href="#" class="btn btn-tool" onclick="printInvoice()">Print</a>
    <a href="{% url 'invoice-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'invoice-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div> 

</div>
{% endblock content-header %}



{% block content %}

<div class="container">
  <h1 class="school-name">Apollo English School</h1>
  <p class="organization"><strong>M.S.V Education Society (R)</strong></p>
  <p class="recognition">Recognized by the Govt. of Karnataka</p>
  <p class="address"><strong>Address:</strong> #116/117, Dombarahalli, Lakshmipura Post, B'lore North-1, Bangalore North T & D - 562162</p>
  <p class="phone"><strong>Phone:</strong> +91 8317445391 / +91 9591192423</p>
</div>
<hr class="mb-2"/>

<div class="row">
  <div class="col-sm-4">
    <h3>{{ object }} </h3>
    <h5>{{ object.session }} </h5>
    <h5>{{ object.term }} </h5>
    <h5>{{ object.class_for }} </h5>
    <h6>Status: {{ object.get_status_display }} </h6>
    <hr>
    <div>
      <h4>Remaining Balance: {{ object.balance | intcomma }}</h4>
    </div>
  </div>
  <div class="col-sm-8">
    <table class="table table-sm table-bordered">
      Invoice Breakdown</br>
      <thead class="thead-light">
        <tr>
          <th>S/N</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ forloop.counter }} </td>
          <td>{{ item.description }} </td>
          <td>{{ item.amount }} </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>Total Amount this term</td>
          <td>{{ object.amount_payable | intcomma}}</td>
        </tr>
        <tr>
          <td></td>
          <td>Balance from previous term</td>
          <td>{{ object.balance_from_previous_term | intcomma }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Total Amount Payable</td>
          <td>{{ object.total_amount_payable | intcomma}}</td>
        </tr>
        <tr>
          <td></td>
          <td>Total Amount Paid</td>
          <td>{{ object.total_amount_paid | intcomma}}</td>
        </tr>

      </tfoot>
    </table>
  </div>
</div>

<hr>

<h5>Payment History</h5>
<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th>S/N</th>
      <th>Amount Paid</th>
      <th>Date Paid</th>
      <th>Comment Paid</th>
      <th>Receipt ID</th>
    </tr>
  </thead>
  <tbody>
    {% for receipt in receipts %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ receipt.amount_paid}}</td>
      <td>{{ receipt.date_paid}}</td>
      <td>{{ receipt.comment}}</td>
      <td>AEHS:{{ receipt.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
  .container {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

}

.school-name {
    color: #333;
    margin-bottom: 6px;
}

.organization {
    font-weight: bold;
    color: #555;
    margin-bottom: 0.2em;
}

.recognition {
    color: #666;
    margin-bottom: 1em;
}

.contact-header {
    font-size: 1.2em;
    color: #333;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.address {
    font-weight: bold;
    color: #444;
    margin-bottom: 0;
}

.phone {
    font-weight: bold;
    color: #444;
    margin-bottom: 24px;
}

</style>


{% endblock content %}


