{% extends 'base.html' %}
{% load humanize %}


{% block content %}
  <h3 class="mt-lg-5">Today's Collection</h3>
  <div class="mb-4">{% now "Y-m-d" %}</div> <!-- Display today's date in YYYY-MM-DD format -->

<div class="table-responsive">
  <table id="receipts_today_table" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>S/N</th>
        <th>Student Fullname</th>
        <th>Amount Paid</th>
        <th>Receipt Id</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in today_receipts %}
      <tr class='clickable-row' data-href="{% url 'invoice-detail' receipt.invoice.id %}">
          <td>{{ forloop.counter }}</td>
          <td>{{ receipt.invoice.student }}</td>
          <td>{{ receipt.amount_paid|intcomma }}</td>
          <td>AEHS:{{ receipt.id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <!-- Display summary information below the table -->
<div class="mt-4">
  <p><strong>Total Collection Today:</strong> Rs {{ sum_paid_today|intcomma }}/- </p>
  <p><strong>Total Receipts Printed Today:</strong> {{ count_today|intcomma }}  </p>
</div>
{% endblock content %}



{% block morejs %}
<script>
    $('#receipts_today_table').DataTable({
    select: false
    });
  
</script>


{% endblock morejs %}
